<section id="footer" class="footer">
    <div class="footer-container">
        <a class="footer-logo" href="./index.html">
            <svg class="svg-icon-header" width="154" height="28">
                <use href="./images/icons.svg#icon-logofooter-mob" alt="logo"></use>
            </svg></a>



        <div class="socials-footer">
            <ul class="socials-list-footer">
                <li class="socials-item">
                    <a class="footer-url" target="_blank" href=" https://www.facebook.com/goITclub/">
                        <svg class="svg-icon-footer" width="40" height="40">
                            <use href="./images/icons.svg#icon-social-facebook-normal" alt="#"></use>
                        </svg></a>
                </li>
                <li>
                    <a class="footer-url" target="_blank" href=" https://www.instagram.com/goitclub/ ">

                        <svg class="svg-icon-footer" width="40" height="40">
                            <use href="./images/icons.svg#icon-social-facebook-normal"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer-url" target="_blank" href="https://www.youtube.com/c/GoIT">
                        <svg class="svg-icon-footer" width="40" height="40">
                            <use href="./images/icons.svg#icon-social-facebook-normal"></use>
                        </svg>
                    </a>

                </li>
            </ul>
        </div>




        <div class="information-footer">

            <h2 class="footer-title">Discover the Variety of Flavors and Quality</h2>
            <p class="footer-text">An online store where you will find fresh, natural and delicious products for a
                healthy life and unforgettable
                gastronomic adventures.</p>
        </div>


        <section id="subscription" class="newsletter">
            <div class="container container">
                <div class="form-wrap">

                    <p class="text-footer">
                        Subscribe and learn about new products!
                    </p>
                    <form class="form">


                        <div class="email-wrap">
                            <input class="input" type="email" name="user-email" id="user-email" placeholder="E-mail"
                                required />
                            <svg class="error-icon" width="24" height="24">
                                <use href="#"></use>
                            </svg>
                        </div>


                        <label class="check-text" for="user-subscribe">
                            <span class="check-span">
                                <svg class="check-icon" width="13" height="13">
                                    <use href=""></use>
                                </svg>
                            </span>

                        </label>
                        <button class="submit-btn heartbeat" type="submit">Send</button>
                    </form>
                </div>
                <div class="footer-using-1 container">
                    <p class="footer-text">Food Boutique.All rights reserved</p>
                </div>



                <div class="footer-using-1 container">
                    <a class="footer-agree" href="#">Privacy Policy</a> / <a class="footer-agree" href="#">Terms of
                        Servise</a></p>
                </div>


            </div>






</section>>