<section class="header" id="header">
   
     <div class="header-container container">
        <a class="header-logo" href="./index.html">
            <svg class="svg-header" width="154" height="38">
                <use href="./images/icons.svg#icon-logoheadermob" alt="logo" width="104" height="28"></use>
            </svg>
        </a>
        <nav class="header-navigation">
            <ul class="header-navigation-list">
                <li class="header-navigation-item">
                    <a class="header-navigation-link" href="./index.html"></a>
                    <svg class="svg-icon-header" width="77" height="38">
                        <use href="./images/icons.svg#icon-btnhomephone1"></use>
                    </svg>
                </li>
                <li class="header-navigation-item">
                    <a class="header-navigation-cart" href="./index.html"></a>
                    <svg class="svg-icon-footer" width="38" height="38">
                        <use href="./images/icons.svg#icon-cardgreen"></use>
                    </svg>
                     <!-- <a class="header-navigation-link" href="#cart">CARD(0)</a>  -->
                 </li>
            </ul>
        </nav>
    </div>  
</section>
