<section class="popular">
  <h2 class="popular_title">Popular products</h2>
  <ul class="cart_list">
    <li class="cart_item">
      <div class="cart_img">
        <img
          src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e385f.png"
          width="56"
          height="56"
          alt="milk"
        />
      </div>
      <div class="cart_elements">
        <h3 class="cart_title">Ackee</h3>
        <p class="cart_text cart_text--margin_b">
          <span class="cart_el">Category:</span>&nbsp;<span>12</span>
        </p>
        <p class="cart_text">
          <span class="cart_el">Size:</span>&nbsp;<span>16</span
          ><span class="cart_el cart_el--margin_l">Popularity:</span>&nbsp;<span
            >we</span
          >
        </p>
      </div>
      <button type="button" class="cart_btn">
        <svg class="order_btn" width="12" height="12">
          <use href="../svg/icons.svg#icon-cart-hover"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
