<section>
  <h2 class="popular_title">Popular products</h2>
  <ul class="cart_list">
    <li class="cart_item">
      <div class="cart">
        <div class="cart_block">
          <div class="cart_img">
            <img src="" alt="" />
          </div>
          <div class="cart_elements">
            <h3 class="cart_title">Ackee</h3>
            <p class="cart_text">
              <span class="cart_el">Category:</span
              ><span class="cart_el">12</span>
            </p>
            <p class="cart_text">
              <span class="cart_el">Size:</span><span>16</span
              ><span class="cart_el">Popularity:</span
              ><span class="cart_el">we</span>
            </p>
            <button class="cart_btn"></button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
